.AboutMain {
    border: 5px dotted #bbb; 
    width: 80%;
    border-radius: 15px; 
    margin: 0 auto; 
    max-width: 600px;
  }
  
  .AboutSec {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }