.navLink {
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: right;
    justify-content: center;
    padding-left: 75px;
    /* padding-top: 25px; */
    color: #E6C449;
}

