.coupon {
    border: 5px dotted #bbb; 
    width: 80%;
    border-radius: 15px; 
    max-width: 500px;
    margin-bottom: 25px;
    margin-left: 10px;

    /* justify-content: space-around; */
  
  }
  
  .container {
    padding: px 16px;
    background-color: #f1f1f1;
    flex-direction: row;
  }