.coupon {
    border: 5px dotted #bbb; 
    width: 80%;
    border-radius: 15px; 
    margin: 15px;
    max-width: 600px;
    flex-direction: row;
    margin-right: auto;
    flex-grow: 0;
  
  }
  
  .container {
    padding: px 16px;
    background-color: #f1f1f1;
    flex-direction: row;
  }