.Picture {
    border: 5px solid #FFFF00    ; 
    width: 50%;
    border-radius: 15px; 
    max-width: 500px;
    margin-bottom: 75px;
    margin-left: 10px;
    background-color: #202020;
    color: white;
}


