.NavItems {
   background: linear-gradient(to bottom, #000000 0%, #2B2C2D    100%);
   background-color: #2B2C2D;
   list-style: none;
   display: flex;
   flex-flow: row;
   align-items: right;
   height: 100%;
   border-bottom-style: outset;
    border-color: gray;
    border-width: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
   font-family: URW Chancery L, cursive;
   color: #E6C449;
}

.navColor {
   color: #E6C449;
}