.Blog {
  border: 5px dotted #bbb; 
  width: 80%;
  border-radius: 15px; 
  max-width: 500px;
  margin-bottom: 45px;
  margin-left: 10px;
  background-color: whitesmoke
  }
  
  .BlogDes {
    padding: px 16px;
    background-color: #f1f1f1;
    flex-direction: row;
  }