.Blog {
  /* border: 5px solid #33FF33  ;  */
  width: 50%;
  border-radius: 15px; 
  max-width: 500px;
  margin-bottom: 75px;
  margin-left: 10px;
  background-color: #202020;
  color: white;
  border-style: solid;
  border-width: 10px;
  border-color: #2E4053;
  }
  
  .BlogDes {
    background-color: #C0C0C0 ;
    color: black;
    font-weight: bold;
    flex-direction: row;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 3px;
    margin-bottom: 10px;
  }

  .idTab {
    color: #2E86C1 ;
    font-weight: bold;
    margin-top: 5px;
  }

  .ImgBlog {
    width: 500px;
    height: 300px;
  }
