.Blog {
  border: 5px dotted #33FF33  ; 
  width: 50%;
  border-radius: 15px; 
  max-width: 500px;
  margin-bottom: 75px;
  margin-left: 10px;
  background-color: black;
  color: white;
  }
  
  .BlogDes {
    background-color: #000000;
    color: white;
    flex-direction: row;
    width: 50%;
    margin: auto;
    padding: 3px;
  }

  .idTab {
    color: #7B0099;
    padding: 0%;
    margin: 0%;
  }